# 2018년 3월 28일 점프 투 파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자형
- 리스트


1. 숫자형
2. 문자열

In [1]:
print('3번째 수업')

3번째 수업

## 1절 숫자형

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2*3

7

In [7]:
7/4

1.75

In [8]:
-7/4

-1.75

In [9]:
-7//4

-2

In [10]:
7%4

3

In [11]:
1-0.9

0.09999999999999998

### Lab 1 
#### 수익 계산

In [22]:
revenue = 98456 
cost = 45000
profit = revenue - cost 
print(profit)

53456

## 2절 문자열

In [12]:
boy = "I am a boy"
boy

'I am a boy'

In [13]:
girl = "I am a girl"
girl

'I am a girl'

In [14]:
friend = """
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [15]:
boy + girl

'I am a boyI am a girl'

In [17]:
boy + ' ' + girl

'I am a boy I am a girl'

In [18]:
boy*3

'I am a boyI am a boyI am a boy'

In [27]:
# 문자열 인덱싱 
a = "Life is too short, You need python"
a[0]+a[10]+a[30]

'Lot'

In [30]:
# 문자열 슬라이싱 a <= : < b
a[12:16]

'shor'

In [29]:
a[12:17]

'short'

In [31]:
a[:]

'Life is too short, You need python'

In [32]:
a[8:]

'too short, You need python'

In [33]:
a[:20]

'Life is too short, Y'

### Lab 2 
#### 문자열 다루기

In [23]:
a = "I love Python!"
b = "You hate Python!"

In [24]:
a

'I love Python!'

In [25]:
b

'You hate Python!'

In [36]:
a = "20180328Sunny"
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [37]:
day

'28'

In [38]:
print(year, "년", month, "월", day, "일", weather, "입니다")

2018 년 03 월 28 일 Sunny 입니다

In [39]:
"year년 month월 day일 weather 입니다."

'year년 month월 day일 weather 입니다.'

In [43]:
"{year}년 {month}월 {day}일 {weather} 입니다.". format(month=month, year=year, day=day, weather=weather)

'2018년 03월 28일 Sunny 입니다.'

### Lab 3 
#### 문자열 포매팅

In [47]:
pi = '3.141592'
sq_root = '1.41429'

In [49]:
"Pi is {pi} and square root of 2 is {sq_root}." . format(pi=pi, sq_root=sq_root)

'Pi is 3.141592 and square root of 2 is 1.41429.'

# 문자열 내장함수

In [50]:
a = '나는 나다.'
a.count('나')

2

In [56]:
# 위치 알려주기 1
a = 'hobby'
a.find('o')

1

In [53]:
a.find('b')

2

In [58]:
# 위치 알려주기 2
a.index('o')

1

In [55]:
a.index('a')

ValueError: substring not found

In [61]:
# 문자열 삽입하기
a = ", "
a.join("abcd")

'a, b, c, d'

In [62]:
a = "I love Python"
a.upper()

'I LOVE PYTHON'

In [63]:
a.lower()

'i love python'

In [64]:
# 왼쪽 공백 지우기 
a = " hi "
a.lstrip()

'hi '

In [65]:
a.rstrip()

' hi'

In [66]:
a.strip()

'hi'

In [69]:
# 문자열 나누기
a = "Life is too short."
a.split()

['Life', 'is', 'too', 'short.']

## Lab 2-2

In [71]:
a = "I love Python!"
b = "You hate Python!"

In [73]:
a.find('o')

3

In [74]:
b.index('o')

1

In [75]:
a.count('o')

2

In [76]:
a.upper()

'I LOVE PYTHON!'

In [77]:
b.lower()

'you hate python!'

In [79]:
a.split()

['I', 'love', 'Python!']

In [83]:
a_6 = a[0:7]
a_6

'I love '

In [85]:
a_6.rstrip()

'I love'

## 3절 리스트