# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print('안녕하세요')

안녕하세요

In [2]:
print(123)

123

### 리스트 만들기

In [4]:
# 빈 리스트
a=[]
a

[]

In [5]:
b=[1,2,3]
b

[1, 2, 3]

In [6]:
c=["Life","is","too","short"]
c

['Life', 'is', 'too', 'short']

In [8]:
d=[1,2,"life","is"]
d

[1, 2, 'life', 'is']

In [9]:
e=[1,2,["life","is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [10]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [11]:
a=[1,2,3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [16]:
e

[1, 2, ['life', 'is']]

In [17]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [18]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [19]:
b[0:2]

[1, 2]

In [24]:
b=a[:2]
b

[1, 2]

### 리스트의 연산자

In [27]:
b
a

[1, 2, 3, 4, 5]

In [28]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [32]:
c=a+b

In [33]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정 변경 삭제

In [103]:
# 하나의 값 수정하기 
a=[1,2,3]
a

[1, 2, 3]

In [104]:
a[2]=4
a

[1, 2, 4]

In [105]:
# 연속된 범위값 수정
a[2]=4
a

[1, 2, 4]

In [106]:
a[1:2]

[2]

In [107]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [97]:
# 리스트 요소 삭제
a=[1,2,3]
del a[2]
a

[1, 2]

In [48]:
a=[1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [49]:
# 리스트에 요소 추가

In [55]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [56]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [58]:
# 리스트 정렬
a=[1,3,4,5,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [59]:
# 리스트 뒤집기
a=[1,3,4,5,2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [62]:
# 위치 반환
a=[1,2,3]
a.index(3)
# 3의 위치는?

2

In [64]:
# 리스트에 요소 삽입
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [65]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [67]:
# 리스트에 요소 제거
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [68]:
# 리스트 요소 꺼내기
a=[1,2,3]
a.pop()

3

In [69]:
a

[1, 2]

In [70]:
# 요소 개수 세기
a=[1,2,3,1]
a.count(1)

2

In [73]:
# 리스트 확장 (append는 하나만 더하지만 extend는 여러개도 가능)
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [74]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

### 튜플

In [75]:
t1= ()
t2= (1,)
t3 = (1,2,3)
t4 = ('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [80]:
# 튜플은 삭제,수정이 불가능
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [78]:
dic = {'name':'수창','phone':'01012345678'}
print(dic)

{'name': '수창', 'phone': '01012345678'}

In [79]:
dic['name']

'수창'

In [81]:
dic['phone']

'01012345678'

In [84]:
dic = {'name':'수창','name':'길동'}
dic['name']

'길동'

In [85]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [86]:
dic.values()

dict_values(['길동'])

### 불 자료형(bool)

In [87]:
# T/F 
# True/False
3>1

True

In [88]:
1>3

False

In [92]:
if"ㅇ":
    print('참')
else:
    print('거짓')

참

# 3장 제어문
## 1. if문

In [109]:
money = 0 # 돈이 있다.
if money:
    print("택시를 타자")
else:
    print("걸어가자")

걸어가자

In [ ]:
# 기본구조
if 조건문:
    수행문장1
    수행문장2
else:
    수행문장A
    수행문장B
# Tab 1번 또는 Space Bar 4번

In [110]:
money=2000
if money >= 3000:
    print('택시')
else:
    print('걸어가')

걸어가

In [111]:
money=2000
card=1
if money>=3000 or card:
    print('taxi')
else:
    print('walk')

taxi

In [112]:
pocket = ['paper','phone','card']
if 'money' in pocket:
    print('taxi')
else:
    if card:
        print("taxi")
    else:
        print('walk')

taxi

In [113]:
# elif 사용 
if 'money' in pocket:
    print('taxi')
elif 'card' in pocket:
    print('taxi')
else: 
    print('walk')

taxi

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif<조건문>:
    수행문장1
elif<조건문>:
    수행문장1
else:
    수행문장A